In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [18]:
# Connecting to website

URL = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1"

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.2 Safari/605.1.15", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser") # Makes things look better

title = soup2.find(id="productTitle").get_text() # This is used to get the text from the ID tag
price = soup2.find(id="priceblock_ourprice").get_text()

print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    $16.99

In [19]:
price = price.strip()[1:] # Strip removes whitespaces, removing the price character
title = title.strip()
title

'Funny Got Data MIS Data Systems Business Analyst T-Shirt'

In [22]:
today = datetime.date.today()
today

datetime.date(2021, 9, 3)

In [23]:
# Creating the CSV file

import csv

header = ["Title", "Price","Date"]
data = [title, price, today]

with open("amazonData.csv","w",newline="", encoding="UTF8") as f: #Creating the CSV
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [27]:
import pandas as pd
pd.read_csv("amazonData.csv")

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03

In [26]:
# Appending data

with open("amazonData.csv","a+",newline="", encoding="UTF8") as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [28]:
def check_price():
    URL = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1"

    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.2 Safari/605.1.15", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id="productTitle").get_text()
    price = soup2.find(id="priceblock_ourprice").get_text()

    price = price.strip()[1:] # Strip removes whitespaces, removing the price character
    title = title.strip()

    today = datetime.date.today()

    header = ["Title", "Price","Date"]
    data = [title, price, today]

    with open("amazonData.csv","a+",newline="", encoding="UTF8") as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [29]:
# Creating a timer to check for the price and add new data to the CSV
while(True):
    check_price()
    time.sleep(5) # as seconds (86400) means that will run this once everyday

KeyboardInterrupt:

In [30]:
import pandas as pd
pd.read_csv("amazonData.csv")

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
6  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
7  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
8  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03
9  Funny Got Data MIS Data Systems Business Analy...  16.99  2021-09-03